.logo {
    width: 100%;
    margin-top: 100px;
    text-align: center;
    cursor: pointer;
}

.logo a {
    background-color: #1dd760;
    padding: 20px 50px 20px 50px;
    font-size: 50px;
    color: #FFF;
    font-weight: bold;
    box-sizing: border-box;
}

.logo a:hover {
    text-decoration: none;
}

.main {
    width: 90%;
    margin: 30px auto;
    opacity: 0.9;
}

.header {
    width: 30%;
    float: left;
}

.headerProfile {
    width: fit-content; 
    text-align: center;
}

.profileImage {
    margin: 10;
    width: 60px;
    border: 2px solid #67d860;
    border-radius: 50px;
}

.headerLogo {
    width: 40%; 
    text-align: center; 
    float: left;
}

.playlists {
    width: 50%;
    float: left;
    padding-right: 10px;
}

.playlists tbody tr:hover td {
    background-color: #67d860;
    cursor: pointer;
}

.tracks tbody tr:hover td {
    background-color: #67d860;
}

.tableRowSelected td {
    background-color: #67d860;
}

.playlistImage {
    margin: 10;
    width: 60px;
    border: 2px solid #67d860;
}

.tracks {
    width: 50%;
    float: right;
    padding-left: 10px; 
    border-left: 1px solid grey;
}

.youtubeIcon {
    width: 50px;
    cursor: pointer;
}